<div class="form-container">
    <form class="create-form" [formGroup]='createForm'>
        <mat-form-field>
            <input matInput placeholder="Player" formControlName='name' #name>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select A Rank" formControlName='ranking' #ranking>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
                <mat-option value="6">6</mat-option>
                <mat-option value="7">7</mat-option>
                <mat-option value="8">8</mat-option>
                <mat-option value="9">9</mat-option>
                <mat-option value="10">10</mat-option>


            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Time" formControlName='time' #time>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Score" formControlName='score' #score>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select A Game" formControlName='game' #game>
                <mat-option [value]="game.title" *ngFor="let game of games ">{{game.title}}</mat-option>
                
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select A Status" formControlName='status' #status>
                <mat-option value='Available'>Available</mat-option>
                <mat-option value='Unavailable'>Unavailable</mat-option>
            </mat-select>
        </mat-form-field>

        <br>
        <table>
            <tr>
                <td><button class="btn btn-secondary" type="submit"
                        (click)="addPlayer(name.value,ranking.value,time.value,score.value,game.value,status.value)"
                        [disabled]="createForm.pristine || createForm.invalid">Create</button></td>
                <td><button class="btn btn-danger" (click)="closeDialog()">Cancel</button></td>
            </tr>
        </table>


    </form>

</div>