mat-card {
    width: 30%;
    margin: auto;
    margin-top: 40px ;
}
button{
    width: 50%;
}
mat-form-field,input{
    width:100%;
}

.card{
    width: 80%;
    margin: auto;
    margin-top:60px ;
    border-radius:10px ;
    background: #FCFBFB;
}
.card h1{
    text-align: center;
    font-family: Roboto Mono;
}

mat-form-field{
    width: 50%;
    margin: auto;
}
