mat-card {
    width: 30%;
    margin: auto;
    margin-top: 40px ;
  }
mat-form-field,input{
    width:100%;
}
h2{
  color: #5D6D7E;
  text-align: center;
}
button{
  width: 100%;
  margin-bottom:12px ;
}