<mat-card>
    <button mat-flat-button color="accent" routerLink="/guest">Player Rankings</button>
    <button mat-flat-button color="primary">Admin</button>
</mat-card>

<div class="card">
    <h1>Login Form</h1>
    <form (submit)="onLoginSubmit()">
        <div class="form-group">
            <input placeholder="Username" type="email" class="form-control" [(ngModel)]="username" name="username">
        </div>
        <div class="form-group">
            <input placeholder="Password" type="password" class="form-control" [(ngModel)]="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
        <button type="submit" class="btn btn-success" routerLink="/register">Register</button><br>
    </form>
</div>