mat-card {
    width: 30%;
    margin: auto;
    margin-top: 40px ;
}
button{
    width: 50%;
}
mat-form-field,input{
    width:100%;
}

.card{
    width: 80%;
    margin: auto;
    margin-top:60px ;
    border-radius:10px ;
}
