<mat-card>
    <button mat-flat-button color="accent">Player Rankings</button>
    <button mat-flat-button color="primary" routerLink="/login">Admin</button>
</mat-card>

<div class="card">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Player</th>
                <th scope="col">Ranking</th>
                <th scope="col">Score</th>
                <th scope="col">Time</th>
                <th scope="col">Game Played</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><button>Join Game</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><button>Join Game</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><button>Join Game</button></td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><button>Join Game</button></td>
            </tr>
        </tbody>
    </table>



</div>